body {
    background-repeat: no-repeat;
    background-position: top;
    background-color: #3c3c3c;
}

.title-container {
  position: relative;
}

.title-image {
    display: block;
    margin: auto;
    filter: blur(4px); 
    -webkit-filter: blur(8px);
}


@font-face {
    font-family: 'Minecraft';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/Minecraft.woff') format('woff');
    }

h1 {
    font-family: "Minecraft";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 100px;
    color: rgb(255, 255, 255);
    filter: drop-shadow(10px 10px darkgray);
}
