body {
    background-image: url("assets/screenshot.png");
    background-repeat: no-repeat;
    background-position: top;
    background-color: #3c3c3c;
}

@font-face {
    font-family: 'Minecraft';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/Minecraft.woff') format('woff');
    }

h1 {
    font-family: 'Minecraft';
    text-align: center;
    font-size: 100px;
    color: rgb(255, 255, 255);   
    filter: drop-shadow(5px 5px darkgray)
}
